.bilgilendirme {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  gap: 24px;
  padding: 24px;
  position: relative;
  background-color: var(--bilgilendirme);
}

.bilgilendirme .content {
  align-items: flex-start;
  gap: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.bilgilendirme .div {
  align-items: center;
  gap: 32px;
  padding: 58px 56px 24px;
  background-color: #ffffff;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.bilgilendirme .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.bilgilendirme .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: var(--text);
  font-size: var(--title-font-size);
  text-align: center;
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  font-style: var(--title-font-style);
}

.bilgilendirme .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.bilgilendirme .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--bilgilendirme);
  font-size: var(--subtitle-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.bilgilendirme .div-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--subtitle-2-font-family);
  font-weight: var(--subtitle-2-font-weight);
  color: var(--text);
  font-size: var(--subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-2-letter-spacing);
  line-height: var(--subtitle-2-line-height);
  font-style: var(--subtitle-2-font-style);
}

.bilgilendirme .image {
  position: relative;
  width: 360px;
  height: 224px;
}

.bilgilendirme .logo-kuit-tr {
  position: absolute;
  width: 120px;
  height: 42px;
  top: 0;
  left: 8px;
  object-fit: cover;
}

.bilgilendirme .sub-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 32px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  box-shadow: var(--shadow);
}

.bilgilendirme .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.bilgilendirme .span {
  font-family: var(--subtitle-2-font-family);
  font-weight: var(--subtitle-2-font-weight);
  color: #201f2b;
  font-size: var(--subtitle-2-font-size);
  letter-spacing: var(--subtitle-2-letter-spacing);
  line-height: var(--subtitle-2-line-height);
  font-style: var(--subtitle-2-font-style);
}

.bilgilendirme .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--text);
  font-size: var(--text-font-size);
  text-align: center;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  font-style: var(--text-font-style);
}

.bilgilendirme .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.bilgilendirme .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--footer-font-family);
  font-weight: var(--footer-font-weight);
  color: var(--text);
  font-size: var(--footer-font-size);
  text-align: center;
  letter-spacing: var(--footer-letter-spacing);
  line-height: var(--footer-line-height);
  font-style: var(--footer-font-style);
}

.bilgilendirme .contact {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.bilgilendirme .contact-2 {
  flex-direction: column;
  gap: 4px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.bilgilendirme .img {
  position: relative;
  width: 16px;
  height: 16px;
}

.bilgilendirme .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: var(--footer-font-family);
  font-weight: var(--footer-font-weight);
  color: var(--text);
  font-size: var(--footer-font-size);
  text-align: center;
  letter-spacing: var(--footer-letter-spacing);
  line-height: var(--footer-line-height);
  font-style: var(--footer-font-style);
}
