:root {
  --dark-green: rgba(62, 97, 1, 1);
  --maintenance: rgba(238, 115, 35, 1);
  --problem-zld: rgba(125, 196, 0, 1);
  --teknik-problem: rgba(250, 45, 72, 1);
  --bilgilendirme: rgba(0, 163, 255, 1);
  --gncelleme: rgba(255, 162, 0, 1);
  --text: rgba(32, 31, 43, 1);
  --white: rgba(255, 255, 255, 1);
  --title-font-family: "Helvetica", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 28px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
  --subtitle-font-family: "Helvetica", Helvetica;
  --subtitle-font-weight: 700;
  --subtitle-font-size: 24px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;
  --subtitle-font-style: normal;
  --subtitle-2-font-family: "Helvetica", Helvetica;
  --subtitle-2-font-weight: 400;
  --subtitle-2-font-size: 16px;
  --subtitle-2-letter-spacing: 0px;
  --subtitle-2-line-height: 114.28571939468384%;
  --subtitle-2-font-style: normal;
  --date-time-font-family: "Helvetica", Helvetica;
  --date-time-font-weight: 400;
  --date-time-font-size: 24px;
  --date-time-letter-spacing: 0px;
  --date-time-line-height: normal;
  --date-time-font-style: normal;
  --text-font-family: "Helvetica", Helvetica;
  --text-font-weight: 700;
  --text-font-size: 12px;
  --text-letter-spacing: 0px;
  --text-line-height: 114.28571939468384%;
  --text-font-style: normal;
  --footer-font-family: "Helvetica", Helvetica;
  --footer-font-weight: 400;
  --footer-font-size: 12px;
  --footer-letter-spacing: 0px;
  --footer-line-height: 114.28571939468384%;
  --footer-font-style: normal;
  --shadow: 0px 0px 5px 0px rgba(138, 148, 153, 1);
}
